modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_PROJECT_ID = "puqoabypleblzqyqaixo"
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY = "sb_publishable_-jZPW8glWiFK2Bbb9cgmhg_nKXhz44D"
EXPO_PUBLIC_SUPABASE_URL = "https://puqoabypleblzqyqaixo.supabase.co"

[nix]
channel = "stable-25_05"
